&* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar{
    display: flex;
    background-color: #333;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.Logo {
    font-size: 1.5rem;
    list-style: 60px;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links ul li {
    padding: 0 10px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    line-height: 60px;
    display: block;
}
.navbar-links a:hover {
    background-color: #444;
}

.toggle-button {
    position: absolute;
    top: 15px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 760px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        width: 100%;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    }

    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links a {
        padding: 10px;
        line-height: 20px;
    }
   
    .navbar.active .navbar-links{
        max-height: 500px;
        opacity: 1;
        transition: max-height 0.3s ease-in, opacity 0.3s ease-in;
    }

    .navbar.active .toggle-button .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar.active .toggle-button .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar.active .toggle-button .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
 
}



#Home {
    background-color: #ff0000;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#About {
    background-color: #00ff00;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#Services {
    background-color: #0000ff;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#Portfolio {
    background-color: #ffff00;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#Blog {
    background-color: #ff00ff;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#Contact {
    background-color: #888888;
    text-align: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
